.corpofooter{
    width: 100vw;
    height: 253px;
    background-color: #25282B;
    padding: 2rem;
}
.tx-pequeno{
    font-family: 'Hammersmith One', sans-serif;
    color:#ffffff;
    font-size: 10px;
    padding-left: 2%;
}
.tx-footer{
    font-family: 'Hammersmith One', sans-serif;
    color:#ffffff;
    font-size: 15px;
    padding-left: 2%;
}
.logo2{
    width: 176px;
    height: 53px;
    padding-left: 2%;
}
.baixe{
    width: 150px;
    height: 30px;
    padding: 2%;
}
.redes{
    width: 96px;
    height: 20px;
    padding-left: 2%;
    padding-bottom: 1%;
}
.div-soria{
    display: flex;
    padding-left: 2%;
}
.divisoria{
    background-color: #ffffff;
    width: 90vw;
    height: 2px;
    padding-left: 2%;
}
.destaque{
    color: #F0BA2B;
}
.colunas{
    display: flex;
    flex-direction: column;
}
.txfooter-container{
    width: 90vw;
}


