.politicas-container {
  width: 90vw;;      /* limite na largura para leitura confortável */
  margin: 0 auto;        /* centraliza na página */
  padding: 2rem;         /* espaçamento interno */
  background-color: #ffffff;
  color: #000000;        /* tom azul escuro para texto, combinando com seu tema */
  font-family: 'Hammersmith One', sans-serif;
}
.espaco{
    background-color: transparent;
    width: 100vw;
    height: 83px;
}
.politicas-container h1 {
  font-size: 32px;
  color: #000000;
  margin-bottom: 1rem;
}

.politicas-container h2 {
  font-size: 24px;
  color: #000000;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.politicas-container p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.politicas-container ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.politicas-container li {
  margin-bottom: 0.5rem;
}

.politicas-container strong {
  color: #000000;
}

@media (max-width: 768px) {
  .politicas-container {
    padding: 1rem;
  }

  .politicas-container h1 {
    font-size: 30px;
  }

  .politicas-container h2 {
    font-size: 25px;
  }

  .politicas-container p, .politicas-container li {
    font-size: 25px;
  }
}
