.corpo6{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 706px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}
.linha6{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;  /* centraliza verticalmente */
    gap: 2rem;  /* espaço entre texto e imagem */
}
.tx-container6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}
.titulo6{
    font-family: 'Hammersmith One', sans-serif;
    color:#000000;
    font-size: 45px;
    padding-left: 2%;
}
.texto6{
    font-family: 'Hammersmith One', sans-serif;
    color:#000000;
    font-size: 30px;
    padding-left: 2%;
}
.img-container6{
    position: relative;   /* define o contexto de posicionamento */
    padding-right: 2%;
    justify-content: center;
    align-items: center;
}
.img5{
    width: 689px;
    height: 517px;
    animation: fadeIn 1.5s ease forwards, float 3s ease-in-out infinite;
    padding-right: 2%;
}