.corpo1 {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 706px;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

.linha1 {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 2rem;  
}

.tx-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50vw;
}

.titulo1 {
    font-family: 'Hammersmith One', sans-serif;
    color:#00124F;
    font-size: 45px;
    padding-left: 2%;
}

.texto1 {
    font-family: 'Hammersmith One', sans-serif;
    color:#00124F;
    font-size: 30px;
    padding-left: 2%;
}

.btnbaixar {
    color: white;
    background: linear-gradient(90deg,#F0BA2B,#FFA200);
    border-radius: 40px;
    border: none;
    font-size: 30px;
    font-family: 'Hammersmith One', sans-serif;
    width: 283px;
    height: 70px; 
}
a{
  color: white;
  font-size: 30px;
  font-family: 'Hammersmith One', sans-serif;
  text-decoration: none;
}
a:hover{
  color: #000000;
}

.img-container {
    position: relative;
    width: 480px;
    height: 483px;
    padding-right: 2%;
    justify-content: center;
    align-items: center;
}

.imgfundo {
    position: absolute;
    top: 0;
    left: 0;
    width: 480px;
    height: 483px;
    z-index: 1; 
    animation: fadeIn 1.5s ease forwards, float 3s ease-in-out infinite;
}

.imgh {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 300px;
    height: 302px;
    z-index: 2; 
    animation: fadeIn 1.5s ease forwards, float 3s ease-in-out infinite;
}


/* --- RESPONSIVIDADE --- */
@media (max-width: 1024px) {
  .titulo1 {
    font-size: 36px;
  }
  .texto1 {
    font-size: 24px;
  }
  .tx-container {
    width: 70vw;
  }
  .img-container {
    width: 380px;
    height: 380px;
  }
  .imgfundo {
    width: 100%;
    height: 100%;
  }
  .imgh {
    width: 240px;
    height: auto;
  }
}

@media (max-width: 768px) {
  .linha1 {
    flex-direction: column;  /* texto em cima, imagem embaixo */
    text-align: center;
  }
  .tx-container {
    width: 90vw;
    align-items: center;
  }
  .titulo1 {
    font-size: 28px;
    padding-left: 0;
  }
  .texto1 {
    font-size: 18px;
    padding-left: 0;
  }
  .btnbaixar {
    font-size: 22px;
    width: 220px;
    height: 55px;
  }
  .img-container {
    width: 300px;
    height: 300px;
  }
  .imgfundo {
    width: 100%;
    height: 100%;
  }
  .imgh {
    width: 180px;
    top: 20%;
    left: 20%;
  }
}

@media (max-width: 480px) {
  .titulo1 {
    font-size: 22px;
  }
  .texto1 {
    font-size: 16px;
  }
  .btnbaixar {
    font-size: 18px;
    width: 180px;
    height: 45px;
  }
  .img-container {
    width: 240px;
    height: 240px;
  }
  .imgh {
    width: 150px;
    left: 18%;
  }
}
