.corpofooter{
    width: 100vw;
    height: 383px;
    background-color: #333C40;
}
.tx-pequeno{
    font-family: 'Hammersmith One', sans-serif;
    color:#ffffff;
    font-size: 10px;
}
.logo2{
    width: 176px;
    height: 53px;
}

