.corpo{
    background:transparent;
    background-color: #e4e4e48d;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 2rem;
    position: fixed;  /* opcional: fixa no topo */
    top: 0;
    left: 0;
    height: 85px;
    width: 100vw;
    z-index: 5;

}
.textoh{
    font-family: 'Hammersmith One', sans-serif;
    color:#00124F;
    font-size: 15px;
    padding-left: 2%;

}
.imagem{
    width: 176px;
    height: 53px;
}
.quadro{
    display: flex;
    min-width: 1015px;
    max-width: 1015px;
    height: 53px;
    justify-content: center;
    align-items: center;   /* centraliza os itens dentro do quadro */
    gap: 1rem; 
}
.botoes{
    display: flex;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    gap: 10px; 
    padding-right: 20%;
}
.btnentrar{
    color:#00124F;
    background: white;
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-family: 'Hammersmith One', sans-serif;
    width: 75px;
    height: 35px;
}
.btncriar{
   color: white;
    background: linear-gradient(0deg,#00124F,#0129B4);
    border-radius: 40px;
    border: none;
    font-size: 15px;
    font-family: 'Hammersmith One', sans-serif;
    width: 115px;
    height: 35px; 
}
