.corpo-ft{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 184px;
    background-color: #25282B;
}
.quadro-ft{
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20%;
}
.container3{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.destaque-ft{
    font-family: 'Hammersmith One', sans-serif;
    color:#F0BA2B;
    font-size: 20px;
}
.texto-ft{
    font-family: 'Hammersmith One', sans-serif;
    color:#ffffff;
    font-size: 15px;
}
.qrcode{
    width: 109px;
    height: 109px;
}