.bg2{
    background: white;
    height: 1214px;
}
.txbox-info2{
    width: 731px;
}
.tx-info2{
    font-family: 'Hammersmith One', sans-serif;
    color: rgb(52, 14, 219);
    font-size: 30px;
    padding-left: 2%;
    margin: 0;
    padding: 0;
}
.imggrupo{
    height: 448px;
    width: 611px;
}